@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  box-sizing: border-box;
}

.primary-font{
  color: #ADA2A2;
}
.secondary{
  color: #7C7777;
}

.no-scroller::-webkit-scrollbar{
  display: none;
}