@import url("https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap");
@import "tailwindcss";

.Bigtext {
  font-family: "Rubik Scribble", system-ui;
  font-weight: 400;
  font-style: normal;
}
.primaryColor {
  color: rgb(39, 206, 103) !important;
}

.bgPrimaryColor {
  background-color: rgb(15, 175, 15) !important;
  color: white;
}

button {
  cursor: pointer;
}

.no-scroller::-webkit-scrollbar{
  display: none;
}
